@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  min-height: 100vh;
}
@media (max-width: 767px) {
  html,
body {
    height: 90vh;
    min-height: 90vh;
  }
}

a {
  text-decoration: none;
  color: black;
}

main {
  min-height: 85%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  main {
    min-height: 100%;
  }
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  bottom: 0;
  margin-bottom: 5vh;
  height: 100px;
  position: relative;
}
footer div {
  width: 80%;
  font-size: 14px;
  color: lightgray;
  text-align: center;
  line-height: 25px;
  word-break: keep-all;
  position: relative;
  transform: translateY(-100%);
}
@media (max-width: 767px) {
  footer div {
    width: 85vw;
  }
}

@media (max-width: 767px) {
  .infoContainer {
    width: 80vw;
  }

  .nameContainer {
    display: flex;
    align-items: center;
  }

  .profile-image {
    display: block;
  }

  .logo {
    visibility: hidden;
  }
}
@media (max-width: 991px) {
  .count {
    margin: 3vh;
  }
}