.searchContainer {
  margin-top: 10vh;
  width: 50vw;
  min-width: 400px;
  min-height: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.searchContainer .search {
  width: 70%;
  height: 50px;
}
.searchContainer .search .searchForm {
  display: flex;
  justify-content: center;
  border: solid lightgray 1px;
  border-radius: 30px;
  width: 100%;
  height: 100%;
}
.searchContainer .search .searchForm input {
  width: 70%;
  background-color: transparent;
  border: none;
  border-radius: inherit;
  outline: none;
  font-size: 12pt;
  margin-left: 10px;
}
.searchContainer .search .searchForm input::placeholder {
  color: #888888;
}
.searchContainer .search .searchForm button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 15%;
  margin-right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.searchContainer .search .searchForm img {
  width: 25px;
  height: 25px;
}
.searchContainer .search .searchForm select {
  background-color: transparent;
  border: none;
  border-radius: inherit;
  outline: none;
  padding: 0 10px 0px 20px !important;
  color: #888;
  font-size: 14px;
}