.pillContainer {
  min-width: 360px;
  max-width: 1200px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.pillContainer .count {
  width: 100%;
  text-align: center;
}
.pillContainer .pill-list {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  z-index: 1;
  margin: 0 auto;
}
.pillContainer .loading {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  font-size: 24px;
  color: black;
  opacity: 0;
  background-color: white;
  z-index: -999;
}
.pillContainer .loading .loadingText,
.pillContainer .loading .loadingImg {
  width: 30px;
  position: fixed;
  left: calc(50% - 30px);
  top: 40%;
}
.pillContainer .noSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: white;
}