@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


* {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;

}

html,
body {
    padding: 0;
    margin: 0;
    min-height: 90vh;
}

a {
    text-decoration: none;
    color: black;
}



main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    bottom: 0;
    margin-bottom: 5vh;

    div {
        width: 80%;
        font-size: 14px;
        color: lightgray;
        text-align: center;
        line-height: 25px;
        word-break: keep-all;
    }

}


// 기본 CSS를 작성합니다. 
// 기본으로 작성되는 CSS는 1199px보다 큰 화면에서 작동 됩니다.
// 세로모드 모바일 디바이스 (가로 해상도가 576px 보다 작은 화면에 적용)
@media (max-width: 575px) {}

// 가로모드 모바일 디바이스 (가로 해상도가 768px 보다 작은 화면에 적용) 
@media (max-width: 767px) {
    .infoContainer {
        width: 80vw;
    }

    .nameContainer {
        display: flex;
        align-items: center;
    }

    .profile-image {
        display: block;
    }


    .logo {
        visibility: hidden;
    }
}

// 태블릿 디바이스 (가로 해상도가 992px 보다 작은 화면에 적용) 
@media (max-width: 991px) {

    .count {
        margin: 3vh;
    }
}

// 데스크탑 (가로 해상도가 1200px 보다 작은 화면에 적용)
@media (max-width: 1199px) {}