.header {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-bottom: solid lightgray 1px;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    z-index: 99999;

    section {
        display: flex;
        align-items: center;
        width: 70vw;
        height: inherit;

        .logoContainer {
            display: flex;
            align-items: center;
            width: 30%;
            min-width: 20vw;
            height: inherit;
            gap: 10px;
            cursor: pointer;

            .logo {
                display: flex;
                align-items: center;
                height: 100%;
                text-align: center;
                font-size: 15pt;
                font-weight: bold;
                cursor: pointer;
            }

            .logoImg {
                height: 30%;
            }

        }


        .menuContainer {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 20px;

            * {
                cursor: pointer;
            }

            .userInfo {
                // display: flex;
                align-items: center;
                gap: 20px;

                .menu {
                    display: none;
                    width: 100px;
                    position: absolute;
                    background-color: white;
                    border: 1px solid #ccc;
                    z-index: 10;
                    transition: max-height 0.3s ease-out;
                    overflow: hidden;
                    right: 15vw;
                }

                .nickname {
                    max-width: 150px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                }

                .profile-image {
                    width: 35px;
                    height: 35px;
                    background-color: white;
                    border-radius: 50px;
                    border: 1px solid lightgray;

                    img {
                        width: 100%;
                        border-radius: inherit;

                    }
                }

                .menu.active {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding: 15px;
                    margin-top: 160px;
                }
            }



        }


    }


}