.modal {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    z-index: 9999999;


    .infoContainer {
        padding: 10vh 5vw;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
        overflow: scroll;
        width: 60%;
        border-radius: 20px;
        max-height: 65vh;

        .nameContainer {
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-wrap: nowrap;

            .company {
                margin-right: 8px;
                flex-shrink: 0;
                padding: 5px 10px;
                border-radius: 10px;
                background-color: lightcoral;
                color: white;
                /* pillType의 크기를 고정 */
            }

            .name {
                font-size: 14pt;
                font-weight: bold;
                word-break: break-all;
                margin-top: 2px;
            }


        }


        .controlContainer {
            width: 100%;
            margin: 25px 50px 0 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;

            img {
                height: 25px;
                width: 100%;
                cursor: pointer;
            }
        }

        .imageContainer {
            width: 100%;
            max-height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .bookmark {
                width: 80px;
                height: 80px;
                min-width: 50px;
                min-height: 50px;
                position: absolute;
                background-color: transparent;
                align-self: flex-start;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                img {
                    height: 60%;
                    width: 60%
                }
            }

            img {
                width: 50%;
                object-fit: cover;
                overflow: hidden;
            }
        }




        .label {
            width: 80%;

        }

        .symptomContainer {
            display: flex;
            gap: 10px;

            .symptom {
                font-size: 12pt;
                padding: 10px 15px;
                background-color: #96b9ff;
                color: white;
                border-radius: 50px;
            }
        }



        .efficacy {
            width: 100%;
            text-align: left;

        }

        .method {
            width: 100%;
            text-align: left;
        }

        // .goToDetail {
        //     width: 80%;
        //     height: 20px;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     color: lightgray;

        //     img {
        //         width: 20px;
        //         height: 20px;
        //     }
        // }



        .findPharmacy {
            width: 80%;
            display: flex;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 50px;
            gap: 10px;

            button {
                border: none;
                border-radius: 15px;
                background-color: #96b9ff;
                color: white;
                font-size: 10pt;
                width: 150px;
                height: 50px;
                cursor: pointer;
            }
        }




    }

}

.infoContainer::-webkit-scrollbar {
    display: none;
}